In [1]:
import pandas as pd

In [2]:
 #Read a dataset of alcohol consumption into a DataFrame
drinks = pd.read_csv("http://bit.ly/drinksbycountry")

In [3]:
#Examine first 5 rows
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [3]:
#Examine the data type of each series
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [4]:
 #change the data type of an existing Series
drinks['beer_servings'] = drinks.beer_servings.astype(float)

In [5]:
#Examine the data type of each series
drinks.dtypes

country                          object
beer_servings                   float64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [6]:
#Change the data types of a series while reading a file
drinks = pd.read_csv("http://bit.ly/drinksbycountry",dtype={'beer_servings':float})

In [7]:
#Examine the data type of each series
drinks.dtypes

country                          object
beer_servings                   float64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [8]:
#read a dataset of Chipotle orders into a DataFrame
orders = pd.read_table("http://bit.ly/chiporders")

In [9]:
#Examine the data type of each series
orders.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [10]:
#Examine first 5 rows
orders.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [11]:
# convert a string to a number in order to do calculation
orders.item_price.str.replace('$','').astype(float).mean()

C:\Users\14697\AppData\Local\Temp/ipykernel_676/3817797499.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  orders.item_price.str.replace('$','').astype(float).mean()

7.464335785374397

In [12]:
# string method 'contains' checks for a substring and returns a boolean Series
orders.item_name.str.contains('Chicken').head()

0    False
1    False
2    False
3    False
4     True
Name: item_name, dtype: bool

In [13]:
#Convert a boolean series to an integer(True=1,False=0)

orders.item_name.str.contains('Chicken').astype(int).head()

0    0
1    0
2    0
3    0
4    1
Name: item_name, dtype: int32