In [1]:
import pandas as pd

In [2]:
from pandas.api.types import CategoricalDtype

In [3]:
# read a dataset of alcohol consumption into a DataFrame
drinks = pd.read_csv("http://bit.ly/drinksbycountry")

In [5]:
#Examine first 5 rows
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [4]:
# exact memory usage is unknown because object columns are references elsewhere
drinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     193 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

In [5]:
# force pandas to calculate the true memory usage
drinks.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     193 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 30.5 KB

In [6]:
# calculate the memory usage for each Series (in bytes)
drinks.memory_usage(deep=True)

Index                             128
country                         12588
beer_servings                    1544
spirit_servings                  1544
wine_servings                    1544
total_litres_of_pure_alcohol     1544
continent                       12332
dtype: int64

In [10]:
drinks.memory_usage(deep=True).sum()

31224

In [11]:
sorted(drinks.continent.unique())

['Africa', 'Asia', 'Europe', 'North America', 'Oceania', 'South America']

In [12]:
drinks.continent.head()

0      Asia
1    Europe
2    Africa
3    Europe
4    Africa
Name: continent, dtype: object

In [7]:
# use the 'category' data type (new in pandas 0.15) to store the 'continent' strings as integers
drinks['continent'] = drinks.continent.astype('category')

In [8]:
drinks.dtypes

country                           object
beer_servings                      int64
spirit_servings                    int64
wine_servings                      int64
total_litres_of_pure_alcohol     float64
continent                       category
dtype: object

In [9]:
# 'continent' Series appears to be unchanged
drinks.continent.head()

0      Asia
1    Europe
2    Africa
3    Europe
4    Africa
Name: continent, dtype: category
Categories (6, object): ['Africa', 'Asia', 'Europe', 'North America', 'Oceania', 'South America']

In [10]:
# strings are now encoded (0 means 'Africa', 1 means 'Asia', 2 means 'Europe', etc.)
drinks.continent.cat.codes.head()

0    1
1    2
2    0
3    2
4    0
dtype: int8

In [15]:
# memory usage has been drastically reduced
drinks.memory_usage(deep=True)

Index                             128
country                         12588
beer_servings                    1544
spirit_servings                  1544
wine_servings                    1544
total_litres_of_pure_alcohol     1544
continent                         756
dtype: int64

In [16]:
# repeat this process for the 'country' Series
drinks['country'] = drinks.country.astype('category')

In [17]:
drinks.memory_usage(deep=True)

Index                             128
country                         17142
beer_servings                    1544
spirit_servings                  1544
wine_servings                    1544
total_litres_of_pure_alcohol     1544
continent                         756
dtype: int64

In [18]:
# memory usage increased because we created 193 categories
drinks.country.cat.categories

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua & Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria',
       ...
       'United Arab Emirates', 'United Kingdom', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', length=193)

In [19]:
# create a small DataFrame from a dictionary
df = pd.DataFrame({'ID':[100,101,102,103],'quality':['good','very good','good','excellent']})

In [20]:
df

    ID    quality
0  100       good
1  101  very good
2  102       good
3  103  excellent

In [21]:
# sort the DataFrame by the 'quality' Series (alphabetical order)
df.sort_values('quality')

    ID    quality
3  103  excellent
0  100       good
2  102       good
1  101  very good

In [22]:
# define a logical ordering for the categories
df['quality'] = df.quality.astype('category',categories=['good','very good','excellent'], ordered=True)

TypeError: astype() got an unexpected keyword argument 'categories'

In [23]:
# sort the DataFrame by the 'quality' Series (logical order)
df.quality

0         good
1    very good
2         good
3    excellent
Name: quality, dtype: object

In [34]:
df.sort_values('quality')

    ID    quality
3  103  excellent
0  100       good
2  102       good
1  101  very good

In [24]:
# comparison operators work with ordered categories
df.loc[df.quality > 'good',:]

    ID    quality
1  101  very good