In [2]:
#Question:How do you create dataframe from scratch i.e. without reading a file?This is handy when you
#want to create some toy data to play around with.There are several different ways to
#construct a DataFrame and its confusing to find the best method.

#Specifically, need to construct a DataFrame with specific columns in specific order.
#Using the dict constructor, the order cannot be enforced.

In [1]:
import pandas as pd

In [5]:
# create a DataFrame from a dictionary (keys become column names, values become data)
pd.DataFrame({'id':[100, 101, 102], 'color':['red', 'blue', 'red']})

    id color
0  100   red
1  101  blue
2  102   red

In [6]:
# optionally specify the order of columns and define the index
df = pd.DataFrame({'id':[100, 101, 102], 'color':['red', 'blue', 'red']}, columns=['id', 'color'], index=['a', 'b', 'c'])
df

    id color
a  100   red
b  101  blue
c  102   red

In [7]:
# create a DataFrame from a list of lists (each inner list becomes a row)
pd.DataFrame([[100, 'red'], [101, 'blue'], [102, 'red']], columns=['id', 'color'])

    id color
0  100   red
1  101  blue
2  102   red

In [8]:
# create a NumPy array (with shape 4 by 2) and fill it with random numbers between 0 and 1
import numpy as np
arr = np.random.rand(4, 2)
arr

array([[0.82812377, 0.48197816],
       [0.68443322, 0.77220747],
       [0.66103164, 0.04673842],
       [0.2881145 , 0.58145722]])

In [9]:
# create a DataFrame from the NumPy array
pd.DataFrame(arr, columns=['one', 'two'])

        one       two
0  0.828124  0.481978
1  0.684433  0.772207
2  0.661032  0.046738
3  0.288114  0.581457

In [10]:
# create a DataFrame of student IDs (100 through 109) and test scores (random integers between 60 and 100)
pd.DataFrame({'student':np.arange(100, 110, 1), 'test':np.random.randint(60, 101, 10)})

   student  test
0      100    66
1      101    90
2      102    94
3      103    62
4      104    81
5      105    84
6      106    96
7      107    73
8      108    72
9      109    75

In [11]:
# 'set_index' can be chained with the DataFrame constructor to select an index
pd.DataFrame({'student':np.arange(100, 110, 1), 'test':np.random.randint(60, 101, 10)}).set_index('student')

         test
student
100        75
101        82
102        71
103        86
104        85
105        63
106        65
107        83
108        69
109        61

In [12]:
# create a new Series using the Series constructor
s = pd.Series(['round', 'square'], index=['c', 'b'], name='shape')
s

c     round
b    square
Name: shape, dtype: object

In [13]:
# concatenate the DataFrame and the Series (use axis=1 to concatenate columns)
pd.concat([df, s], axis=1)

    id color   shape
a  100   red     NaN
b  101  blue  square
c  102   red   round